.profile {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  position: relative;
  justify-content: center;
}
.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.profile__avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__button-update-avatar {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  overflow: hidden;
  background: #000000cc;
  align-items: center;
  cursor: pointer;
  position: absolute;
  left: -3px;
  top: -3px;
  display: none;
  justify-content: center;
  background-image: url(../public/button_edit.png);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__avatar:hover .profile__button-update-avatar {
  display: flex;
}

.profile__button-update-image {
  width: 26px;
  height: 26px;
}

.profile__info {
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 30px;
}

.profile__info-name {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 16px;
}

.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
}

.profile__about-me {
  max-width: 300px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.profile__button-edit {
  border: 1px solid #ffffff;
  width: 24px;
  height: 24px;
  background-color: #000000;
  margin-top: 8px;
  box-sizing: border-box;
  cursor: pointer;
  background-image: url(../public/button_edit.png);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

.profile__button-add {
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  background-color: #000000;
  border-radius: 2px;
  align-self: center;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  background-image: url(../public/button_add.png);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__button-add:hover {
  opacity: 0.6;
}
